h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(245, 245, 245);
  background-color: rgba(8, 182, 167, 0.753);
  text-align: center;
  letter-spacing: 7px;

}
h2{
  color:rgb(243, 253, 244);
  background-color: rgb(68, 182, 53);
  text-align: center;
  letter-spacing: 5px;

}
.para{
  color:red;
  font-family: arial;
  font-size: 1.3rem;
  text-align: justify;
}
ul{
  color: rgb(197, 114, 12);
  list-style-type: none;
  line-height: 55px;
  font-size: 40px;
}
