h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;

}
h2{
  color:rgb(9, 173, 22);
  background-color: black;
}
.para{
  color:red;
  font-family: arial;
  font-size: 1.3rem;
  text-align: justify;
}